@model CJ_sComics.Models.Comic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComicTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComicTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EpisodeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EpisodeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EpisodeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EpisodeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Characters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Characters)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComicBookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
