@model IEnumerable<CJ_sComics.Models.Comic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComicTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpisodeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpisodeTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Characters)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComicTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpisodeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpisodeTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Characters)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComicBookId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComicBookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComicBookId })
        </td>
    </tr>
}

</table>
